<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>WELCOME</h1>
    <form action="http://localhost:8080/" method="post" enctype="multipart/form-data">
        <div>
            <label for="userName">Name:</label>
            <input type="text" name="user[name]" id="userName">
        </div>
        <br>
        <div>
            <label for="userEmail">Email:</label>
            <input type="email" name="user[email]" id="userEmail">
        </div>
        <br>
        <div>
            <label for="userPassword">Password:</label>
            <input type="password" name="user[password]" id="userPassword">
        </div>
        <br>
        <div>
            <label for="userRole">Choose a Role:</label>

            <select name="user[role]" id="userRole">
                <option value="admin">Admin</option>
                <option value="seller">Seller</option>
                <option value="buyer">Buyer</option>
            </select>
        </div>
        <br>
        <div>
            <label for="userImage">Image:</label>
            <input type="file" name="user[image]" id="userImage ">
        </div>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>