<% layout("./boilerplate/boilerplate.ejs") -%>
    <div class="flex flex-col justify-center items-center w-screen h-screen">
        <h2 class="py-2 font-bold text-2xl md:text-3xl ">Welcome to <span
                class="italic text-3xl md:text-4xl text-orange-600">ShopCart</span> </h2>
        <form action="http://localhost:8080/user/register" method="post" enctype="multipart/form-data"
            class="w-80 md:w-96">

            <div class="relative z-0 w-full mb-5 group py-2">
                <input type="text" name="user[name]" id="userName"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="userName"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Name</label>
            </div>
            <div class="relative z-0 w-full mb-5 group py-2">
                <input type="email" name="user[email]" id="userEmail"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="userEmail"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                    address</label>
            </div>
            <div class="relative z-0 w-full mb-2 group py-2">
                <input type="password" name="user[password]" id="userPassword"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-black dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder=" " required />
                <label for="userPassword"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
            </div>
            <div class="relative z-0 w-full mb-5 group">
                <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an
                    option</label>
                <select id="countries"
                    class="bg-black border border-gray-300 text-black text-sm rounded-lg focus:ring-blue-300 focus:border-blue-500 block w-full p-2 dark:bg-white dark:border-gray-600 dark:placeholder-gray-400 dark:text-dark dark:font-bold dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option selected>Choose a Role</option>
                    <option value="admin">Admin</option>
                    <option value="buyer">Buyer</option>
                    <option value="seller">Seller</option>
                </select>
            </div>

            <div class="relative z-0 w-full mb-5 group py-2">
                <label for="userImage"
                    class="flex items-center justify-center px-4 py-2 bg-black text-white text-sm font-medium rounded-lg cursor-pointer hover:bg-blue-700 transition duration-300">
                    Upload Image
                </label>
                <input type="file" name="user[image]" id="userImage" class="hidden" required />
                <p id="file-chosen" class="mt-2 text-sm text-gray-900 font-bold dark:text-gray-400">No file chosen</p>
            </div>
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

    </div>

    <script>
        const input = document.getElementById('userImage');
        const fileChosen = document.getElementById('file-chosen');

        input.addEventListener('change', function () {
            fileChosen.textContent = this.files[0]?.name || "No file chosen";
        });
    </script>