<!--sidebar-->
<aside
  class="w-64 bg-white border-r flex flex-col sticky top-0 left-0 h-screen"
>
  <div class="p-6 text-2xl font-bold border-b">Admin Panel</div>
  <div class="h-full flex flex-col justify-between pb-5">
    <nav class="p-4 space-y-4">
      <a href="/admin/dashboard" class="block text-gray-700 hover:text-blue-500"
        >Dashboard</a
      >
      <a href="/admin/user/" class="block text-gray-700 hover:text-blue-500"
        >Users</a
      >
      <a href="/admin/product/" class="block text-gray-700 hover:text-blue-500"
        >Products</a
      >
      <a href="/admin/order/" class="block text-gray-700 hover:text-blue-500"
        >orders</a
      >
    </nav>
    <a href="/admin/logout"
      ><button
        class="bg-red-500 text-white h-[35px] w-[225px] rounded-[10px] ml-[15px]"
      >
        logout
      </button></a
    >
  </div>
</aside>
